node_modules

# Output
.output
.vercel
.netlify
.wrangler
/.svelte-kit
/build

# Playwright
/test-results
/playwright-report
/playwright/.cache

# OS
.DS_Store
Thumbs.db

# Env
.env.*.local
.env.local
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

.void
*.tsbuildinfo

.claude/worktrees

.playwright-mcp

./*.png